@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
  font-family: 'Courier Prime', monospace;
  background-color:rgb(99, 99, 95);
}
input{
  font-family: 'Courier Prime', monospace;
  padding:5px;
  border-radius:5px;
  border: white 2px;
}
h1{
  font-family: 'Courier Prime', monospace;
}
h2{
  font-family: 'Courier Prime', monospace;
}
h3{
  font-family: 'Courier Prime', monospace;
}
p{
  font-family: 'Courier Prime', monospace;
}
a{
  font-family: 'Courier Prime', monospace;
}
/* button{
  border: none;
  font-family: 'Courier Prime', monospace;
  padding:9px;
  background-color: rgb(227, 207, 181);
} */
img{
  width: 50px;
  border-radius: 20px;
}
 a{
  text-decoration:none;
  color: white;
}
a:visited{
  text-decoration:none;
  color: white;
} */
 .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Profile */

.profile-user{
  display: flex;
  /* align-items: center; */
  padding: 10px;
  background-color: whitesmoke;
  width: 70%;
  border-radius: 20px;
}
.profile-user img{
  width: 100px;
  border-radius: 20px;
  vertical-align: bottom;
  display: inline-block;
  padding:10px;

}
.profile-user h2{
  padding: 10px;
  top:20px;
  min-height:100%;

}
.profile-user-follow{
  padding: 10px;
}
.profile-books{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: center;
}
.profile-books-book{
  margin:15px;
  background-color: whitesmoke;
  min-height:150px;
  text-align: center;
}

@media only screen and (max-width: 850px) {
body{
    width:100%;
    background-color:rgb(71, 71, 71);
  }
button{
  border: 10px white;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Courier Prime', monospace;

}
h2{
  font-size: 20px;
}
h3{
  font-size:16px;
}
.Nav{
max-width:100%;
padding:20px;
display:inline-flex;
border-bottom: solid 3px rgb(32, 32, 32);
margin:5px;
}
.Nav a{
  padding: 10px;
} 
.Nav-hidden{
  height: 0;
  width: fit-content;
  /* border-radius: var(--cornerRad);
  background-color: var(--primColor); */
  animation: 2s fadeMe;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity:0;
  z-index:10;
}
.Nav-unhidden{
  height: 0;
  width: fit-content;
  /* border-radius: var(--cornerRad);
  background-color: var(--primColor); */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index:10;
}
.Nav-hidden a {
  padding: 12px 24px;
  margin: 0 16px;
  color: whitesmoke;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(245,245,245,0.3);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
} 
.nav-column{
  flex-direction:column;
}
.nav-settings{
  background-color: rgb(71, 71, 71);
  margin-left: 50%;
  /* width: 0%; */

  border: none;
  border-radius: none;
  margin-top: -20px;
}
.nav-settings img{
  width: 50%;

}
.Nav-unhidden a {
  padding: 12px 24px;
  margin: 0 16px;
  color: rgb(79, 79, 79);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(245,245,245,0.6);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
} 

/* .Nav-hidden a:hover {
  filter: brightness(200%);
} */
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100%{
    overflow: hidden;
  }
} */


  .profile-user{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: whitesmoke;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .profile button{
    background-color: whitesmoke;
    padding: 8px;
    margin:5px;
  }
  .profile-user img{
    max-width: 70px;
    border-radius: 20px;
    vertical-align: bottom;
    display:inline;
    padding:10px;
    height: 100%;
  }
  .profile-user h2{
    font-family: 'Courier Prime', monospace;
    padding:0;
    margin:0;
    top:20px;
    min-height:100%;
    margin-bottom: 0px;
  }
  .profile-user-follow{
    text-align: left;
    margin-left: 15px;
    padding:5px;
  }
  .profile-user-follow-tag{
    margin-top: -73%;
  }
  .library-card{
    display:inline-flex;
    border: white none ;
    /* padding:5px; */
 

  }
  .library-card button{
    padding:8px;
    border-radius: 5px;
    box-shadow: 2px 10px 20px rgba(206, 206, 206, 0.4);
    font-family: 'Courier Prime', monospace;
  }
  .profile-books-book{
    margin:15px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    min-height:150px;
    text-align: center;
  }

   /* Search Page */
   
  .search{
    display: flex;
    align-items: flex-start;
    margin:10px;
  }
  .search input{
    margin-right:10px;
    border-radius: 20px;
    border: solid white 8px;
    font-family: 'Courier Prime', monospace;
  }
  /* .search button{
    border-radius:5px;
  } */
  .search-books{
    display: grid;
    max-width: 100%;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    gap: 10px 20px;
    align-items: center;
  }
  .search-book{
  align-items: center;

  }
  .search-book h2{
    font-size: 10px;
  }
  /*BookCard*/

  .book-card{
    background-color: whitesmoke;
    padding:10px;
    align-items: center;
  }
  .book-card-user{
    margin-top:10px;
    display: flex;
    padding: 10px;
    background-color: whitesmoke;
    width: 90%;
    border-radius: 10px;
  }
  .book-card-user img{
  margin-right: 20px; 
  }
  .book-card-h2{
    padding: 10px;
    font-size: 16px;
    width: 90%;
  }
  .book-card-first-review{
    padding:20px;
    align-items: center;
  }
  .search-book-card-banner{
    position:fixed;
    width:80%;
    background: grey;
    border: solid grey ;
    border-radius: 8px;
    top: 50%;
    right: 10%;
    padding:5px;
  }
  .search-book-card-banner h3{
    text-align: center;
    margin:10px;
    padding:10px;
    width:80%;
  }
  .book-card-reviews{

  } 
} 